@import "../variables";

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88px;
  padding: 0 15%;
  background-color: #fff;
  &__links {
    display: flex;
    gap: 40px;
  }
  &__links a {
    color: $grey;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: 0.5s ease;
    &:hover {
      color: $accent;
    }
  }
  &__links-svg {
    display: none;
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-4px);
    }
  }
}
