@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "./variables";
@import "components/all";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.btn {
  padding: 16px 32px;
  background: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #0050ef;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.main {
  padding: 0 15%;
  background-color: #f6f9ff;
}
.cards {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding-bottom: 80px;
  }
}
.hide {
  display: none;
}
.filters__container {
  display: flex;
  padding: 40px 0 56px 0;
  gap: 20px;
  .date__first {
    position: relative;
  }
  .date__second {
    position: relative;
  }
  &-author {
    position: relative;
    display: flex;
    align-items: center;
    svg {
      position: absolute;
      left: 16px;
    }
    span {
      position: absolute;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #888888;
      left: 50px;
    }
  }
  &-author select {
    background: white url("..//images/arrow.svg") no-repeat;
    background-position: right 23.5px top 50%;
    border-radius: 10px;
    min-height: 50px;
    min-width: 330px;
    padding-left: 20px;
    option {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #888888;
    }
  }
  &-date {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
    input {
      height: 50px;
      padding-left: 3rem;
      padding-right: 3rem;
      color: white;
    }
    .first {
      border-radius: 10px 0 0 10px;
      &::before {
        content: "От";
        position: absolute;
        left: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #888888;
        border-radius: 10px 0 0 10px;
      }
    }
    .second {
      border-radius: 0 10px 10px 0;
      &::before {
        content: "—  До";
        position: absolute;
        left: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #888888;
      }
    }
  }
}
